<h1>Hello World!!</h1>
<div class="d-flex justify-content-end ms-3">
  <% if user_signed_in? %>
    You are signed in! as <%= current_user.email %>
  <% else %>
    You are not signed in!
  <% end %>
</div>
<ul>
  <% @recipes.each do |recipe| %>
    <li> <%= link_to recipe.title, recipe_path(recipe) %> </li>
  <% end %>
</ul>


<%= link_to('Create new recipe', new_recipe_path) %>
<%= link_to "Create new recipe", new_recipe_path , class: "btn btn-magic" %>
